.backgroundStyle {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Backgrounds */
.mainBackground {
    background-image: url(../backgrounds/mainBackground.svg);
}

.projectBackground {
    background-image: url(../backgrounds/projectpagebackground.svg);
}

.experienceBackground {
    background-image: url(../backgrounds/expbackground.svg);
}






.footercolorchanger {
    background-color: #00ADB5;
}



.colorchanger {
    background-color: #00ADB5;
}




.textfootercolor {
    color: #000000;
}