.spacer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 900/600;
}

.mainbackground {
  background-image: url(../backgrounds/blob-haikei\ \(1\).svg);
}

.meImage {
  right: 16vw;
  top: 30vh;
  width: 20%;
  border: 5px solid #e0e0e0;
}

.meDots {
  right: 18vw;
  top: 32vh;
  width: 20%;
}