.footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: auto;
}

.socials {
    flex-direction: column;
    /* TODO change font*/
    margin: 0 auto 0 auto;
    justify-content: space-evenly;
}

.socials__tags {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 1.1rem;
    margin-bottom: 0.75rem;
}

.socials__icon {
}

.socials__text {
    letter-spacing: 0.05rem;
    font-family: Lobster, sans-serif;
}