.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: auto;
}

.socials {
    display: flex;
    flex-direction: row;
    /* TODO change font*/
    margin: 0 auto 0 auto;
    justify-content: space-evenly;
}

.socials__tags {
    align-items: center;
    text-decoration: none;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.socials__icon {
}

.socials__text {
    display: none;
}


/* Utility classes */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {

    .socials__tags {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        margin: 1.25rem 0 1rem 0;
    }

    .socials__text {
        display: flex;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        /* TODO change font asap */
        letter-spacing: -0.01rem;
        font-size: 1rem;
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1440px) {
    .socials__tags {
        margin: 1.75rem 0 1.5rem 0;
    }
}

/* 3xl */
/* @media (min-width: 1536px) {} */

/* 4xl */
/* @media (min-width: 1728px) {} */

/* 5xl */
@media (min-width: 1920px) {
    .socials__text {
        font-size: 1.25rem;
    }

    .socials__tags {
        margin: 2.75rem 0 2.5rem 0;
    }
}

/* 6xl */
@media (min-width: 2500px) {
    .socials__text {
        font-size: 1.35rem;
    }

    .socials__tags {
        margin: 3.25rem 0 3rem 0;
    }
}


