.card {
  width: 100%;
  height: 100%;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

/*
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;





    opacity: 0;
  transition: 0.5s;
  { transform: translateY(100px);  }
*/

.content {
  padding: 15vh;
  text-align: center;
}

.content:hover {
  transform: translateY(0px);
  opacity: 1;
}

.h2content {
  position: absolute;
  top: -40px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.h3content {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.pcontent {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.bottom10 {
  bottom: 10vh;
}

.topthird {
  top: 30vh;
}

.toptenth {
  top: 15vh;
}

.boxSize {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 45%); /* 3 columns */
  grid-gap: 50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-item {
  border: thin gray solid;
  padding: 10px;
}

/* Card1 */

.projectscardcontainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.projectscardcontent {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: "Merriweather", serif;
}

.flap {
  width: 100%;
  height: 100%;
}

.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg")
    white;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg")
    white;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.projectscardcontainer:hover .flap::after {
  transform: translatex(100%);
}

.projectscardcontainer:hover .flap::before {
  transform: translatex(-100%);
}

.negmarg {
  transform: translate(8%, -26%);
}

/* Card2 */
