.index__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.index__top {
    height: 2rem;
}

.index__bottom {
    height: 1.5rem;
}

.index__text__container {
    position: relative;
}

.index__h1 {
    font-size: 3.2rem;
    font-family: Lobster, sans-serif;
    --tw-text-opacity: 1;
    color: rgb(224 224 224 / var(--tw-text-opacity));
    transform: translateX(-1.5%);
}

.index__h2 {
    position: absolute;
    top: 4.1rem;
    left: .5rem;

    font-size: 1.7rem;
    font-family: Luckiest Guy, sans-serif;
    line-height: 1;
    border-bottom: 4px dotted #e0e0e0;
}

.index__bar {
    position: absolute;
    top: 2.75rem;
    left: -1%;
    width: 104%;
    height: 40%;
    transform-origin: center;
    z-index: -97;
}

.index__image__container {
    margin-top: .5rem;
    position: relative;
}

.index__image {
    width: 17rem;
    border: 5px solid #e0e0e0;
}

.index__dots {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -97;

    width: 16rem;
    transform: translate(2rem, 1rem);
}


/* Card */
.index__card {
    max-width: 17.5rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    padding: 0.75rem 1rem;

    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    /*background-color: rgba(255, 255, 255, 0.16);*/
    background-color: rgba(34, 211, 238, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}

.index__card__p {
    font-family: Montserrat, sans-serif;
    font-size: .85rem;
    color: rgba(255, 255, 255, 0.98);
}

.index__card__footer {
    margin-top: .5rem;
    font-size: 0.8rem;
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.95);
}

.index__text__image__container {
    display: contents;
}


/* Utility classes */

/* 3xs */
@media (min-width: 375px) {
    .index__dots {
        transform: translate(3rem, 1rem);
    }

    .index__h2 {
        left: .65rem;
        width: 104%;

        display: inline-block;

        font-size: 1.8rem;
        font-family: Luckiest Guy, sans-serif;
        line-height: 1;
        border-bottom: 4px dotted #e0e0e0;
    }
}

/* 2xs */
@media (min-width: 425px) {
    .index__dots {
        transform: translate(4rem, 1rem);
    }

    .index__image {
        width: 19rem;
    }

    .index__dots {
        width: 18rem;
    }

    .index__card {
        max-width: 19.5rem;
        padding: 1.15rem 1rem;
    }

    .index__card__p {
        font-family: Montserrat, sans-serif;
        font-size: 0.95rem;
        color: rgba(255, 255, 255, 0.95);
    }

    .index__card__footer {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .index__main {
        gap: 4rem;
    }

    .index__h1 {
        font-size: 3.7rem;
    }

    .index__h2 {
        font-size: 2.075rem;
    }
}

/* xs */
@media (min-width: 475px) {


}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

    .index__main {
        gap: 4.75rem;
    }

    .index__h1 {
        font-size: 4.25rem;
    }

    .index__h2 {
        font-size: 2.25rem;
        width: auto;
        top: 5.25rem;
    }

    .index__bar {
        top: 3.5rem;
    }

    .index__text__container {
        margin: 0 auto 0 11.5%;
    }

    .index__image__container {
        margin-right: 11.5%;
    }

    .index__text__image__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        width: 100%;
        align-items: center;
    }

    .index__image {
        width: 35vw;
    }

    .index__dots {
        width: 34vw;
    }

    .index__card {
        height: 26.75vw;
        max-width: 35vw;

        margin-right: auto;

        border: 2px solid rgba(34, 211, 238, 0.4);
        border-radius: .75rem;
        background-color: rgba(34, 211, 238, 0.2);
        /*box-shadow: 0 0 10px 2px rgba(34, 211, 238, 0.6);*/
        box-shadow: 0 0 20px rgba(34, 211, 238, 0.5), 0 0 6px rgba(34, 211, 238, 0.4), 0 0 100px -10px rgba(34, 211, 238, 0.2);

        padding: 1.15rem 2rem;
        transform: translateY(4px);
        margin-left: 11.5%;
    }

    .index__card__p {
        font-size: 1rem;
    }

    .index__card__footer {
        margin-top: 1.25rem;
        font-size: 1.25rem;
    }
}

/* lg */
@media (min-width: 1024px) {

    .index__card {
        padding: 2.25rem 2rem;
        max-width: 24rem;
        height: 17rem;
    }

    .index__card__p {
        font-size: 1.25rem;
    }

    .index__card__footer {
        font-size: 1.5rem;
    }

    .index__image {
        max-width: 22.5rem;
    }

    .index__dots {
        max-width: 21.5rem;
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1440px) {
    .index__main {
        gap: 6rem;
    }

    .index__h1 {
        font-size: 5.5rem;
    }

    .index__h2 {
        font-size: 2.75rem;
        top: 6.75rem;
        left: 1rem;
    }

    .index__bar {
        top: 4.5rem;
    }

    .index__image {
        width: 23rem;
    }

    .index__dots {
        width: 22rem;
        transform: translate(6.0rem, 0.5rem);
    }

    .index__card {
        max-width: 500px;
        height: 275px;

        padding: 2rem 3rem;
    }

    .index__card__p {
        font-size: 1.25rem;
    }

    .index__card__footer {
        font-size: 1.5rem;
    }
}

/* 3xl */
/* @media (min-width: 1536px) {} */


/* 4xl */
@media (min-width: 1728px) {
    .index__main {
        gap: 7rem;
    }

    .index__h1 {
        font-size: 6.5rem;
    }

    .index__h2 {
        font-size: 3.4rem;
        top: 8rem;
    }

    .index__bar {
        top: 5.5rem;
    }

    .index__image {
        max-width: 28rem;
        width: 28rem;
    }

    .index__dots {
        max-width: 27rem;
        width: 27rem;
        transform: translate(7.5rem, 0.5rem);
    }

    .index__card {
        max-width: 575px;
        height: 330px;

        padding: 3rem 3.25rem;
    }

    .index__card__p {
        font-size: 1.5rem;
    }

    .index__card__footer {
        font-size: 2rem;
    }
}


/* 5xl */
@media (min-width: 1920px) {

    .index__main {
        gap: 7.5rem;
    }

    .index__h1 {
        font-size: 7rem;
    }

    .index__h2 {
        font-size: 3.6rem;
        top: 8.5rem;
    }

    .index__bar {
        top: 6rem;
        height: 36%;
    }

    .index__image {
        width: 32rem;
        max-width: 32rem;
    }

    .index__image__container {
        margin-right: 18%;
    }

    .index__dots {
        width: 31rem;
        max-width: 31rem;
        transform: translate(8rem, 0.5rem);
    }

    .index__card {
        max-width: 630px;
        height: 380px;

        margin-left: 11.5%;

        padding: 3.25rem 4.75rem;
    }

    .index__card__p {
        font-size: 1.75rem;
    }

    .index__card__footer {
        font-size: 2.5rem;
    }
}

/* 5xl */
@media (min-width: 2500px) {

    .index__main {
        gap: 12rem;
    }

    .index__h1 {
        font-size: 9rem;
    }

    .index__h2 {
        font-size: 4.75rem;
        top: 11rem;
    }

    .index__bar {
        top: 7.6rem;
    }

    .index__image {
        width: 42rem;
        max-width: 42rem;
    }

    .index__image__container {
        margin-right: 18%;
    }

    .index__dots {
        width: 41rem;
        max-width: 41rem;
        transform: translate(11rem, 0.5rem);
    }

    .index__card {
        max-width: 800px;
        height: 490px;

        margin-left: 11.5%;

        padding: 4rem 5.75rem;
    }

    .index__card__p {
        font-size: 2rem;
    }

    .index__card__footer {
        font-size: 3rem;
    }
}
