.index__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.index__top {
    height: 2rem;
}

.index__bottom {
    height: 1.5rem;
}

.index__text__container {
    position: relative;
}

.index__h1 {
    font-size: 3.2rem;
    font-family: Lobster, sans-serif;
    --tw-text-opacity: 1;
    color: rgb(224 224 224 / var(--tw-text-opacity));
    transform: translateX(-1.5%);
}

.index__h2 {
    position: absolute;
    top: 4.1rem;
    left: .5rem;

    font-size: 1.7rem;
    font-family: Luckiest Guy, sans-serif;
    line-height: 1;
    border-bottom: 4px dotted #e0e0e0;
}

.index__bar {
    position: absolute;
    top: 2.75rem;
    left: -1%;
    width: 104%;
    height: 40%;
    transform-origin: center;
    z-index: -97;
}

.index__image__container {
    margin-top: .5rem;
    position: relative;
}

.index__image {
    width: 17rem;
    border: 5px solid #e0e0e0;
}

.index__dots {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -97;

    width: 16rem;
    transform: translate(2rem, 1rem);
}


/* Card */
.index__card {
    max-width: 17.5rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    padding: 0.75rem 1rem;

    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    /*background-color: rgba(255, 255, 255, 0.16);*/
    background-color: rgba(34, 211, 238, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}

.index__card__p {
    font-family: Montserrat, sans-serif;
    font-size: .85rem;
    color: rgba(255, 255, 255, 0.95);
}

.index__card__footer {
    margin-top: .5rem;
    font-size: 0.8rem;
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

.index__text__image__container {
    display: contents;
}


/* Utility classes */

/* 3xs */
@media (min-width: 375px) {
    .index__dots {
        transform: translate(3rem, 1rem);
    }

    .index__h2 {
        left: .65rem;
        width: 104%;

        display: inline-block;

        font-size: 1.8rem;
        font-family: Luckiest Guy, sans-serif;
        line-height: 1;
        border-bottom: 4px dotted #e0e0e0;
    }
}

/* 2xs */
@media (min-width: 425px) {
    .index__dots {
        transform: translate(4rem, 1rem);
    }

    .index__image {
        width: 19rem;
    }

    .index__dots {
        width: 18rem;
    }

    .index__card {
        max-width: 19.5rem;
        padding: 1.15rem 1rem;
    }

    .index__card__p {
        font-family: Montserrat, sans-serif;
        font-size: 0.95rem;
        color: rgba(255, 255, 255, 0.95);
    }

    .index__card__footer {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .index__main {
        gap: 4rem;
    }

    .index__h1 {
        font-size: 3.7rem;
    }

    .index__h2 {
        font-size: 2.075rem;
    }
}

/* xs */
@media (min-width: 475px) {


}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

    .index__main {
        gap: 4.75rem;
    }

    .index__h1 {
        font-size: 4.25rem;
    }

    .index__h2 {
        font-size: 2.25rem;
        width: auto;
        top: 5.25rem;
    }

    .index__bar {
        top: 3.5rem;
    }

    .index__text__image__container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .index__text__container {
        margin: 0 auto 0 11.5%;
    }

    .index__image {
        width: 20rem;
    }

    .index__card {
        max-width: 325px;

        border: 2px solid rgba(34, 211, 238, 0.25);
        border-radius: .75rem;
        background-color: rgba(34, 211, 238, 0.2);
        box-shadow: 0 0 10px 2px rgba(34, 211, 238, 0.6);

        padding: 2.88rem 1.5rem;
        transform: translateY(2px);
    }

    .index__card__p {
        font-size: 1rem;
    }

    .index__card__footer {
        margin-top: 1.25rem;
        font-size: 1.25rem;
    }
}

/* lg */
/*@media (min-width: 1024px) {*/
/*    body {*/
/*        max-width: 100vw;*/
/*        overflow-x: hidden;*/
/*        overflow-y: hidden;*/
/*    }*/
/*}*/

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


.index_title__name {
    width: 100%;
    display: flex;
    justify-content: center;
}

.index__div {
    margin: 6rem auto 0 auto;
    position: absolute;
    overflow: hidden;
    padding-right: .4rem;
    padding-left: .1rem;
}

.index__glassCard {
    position: absolute;
    margin-top: 28rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    padding-bottom: 6rem;
}

@media (max-width: 1024px) {
    .meImage {
        top: 38vh;
    }

    .meDots {
        top: 38vh;
    }
}


@media (min-width: 1025px) and  (max-width: 1440px) {
    .meImage {
        top: 40%;
        width: 30%;
    }

    .meDots {
        top: 40%;
        width: 30%;
    }
}


@media (max-width: 1920px) {
    .meImage {
        right: 12%;
    }

    .meDots {
        right: 14%;
    }
}


@media (min-width: 1920px) {
    .meImage {
        width: 20%;
    }

    .meDots {
        width: 20%;
    }
}
