.navbar {
    border-top-width: 4px;
    position: fixed;
    top: 0;
    width: 100%;
    border-style: solid;
    z-index: 50;
    --border-color: #00ADB5;
    border-color: var(--border-color);
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%; /* Adjust this value to control the starting point of the border */
    width: 80%; /* Adjust this value to control the width of the border */
    border-bottom: 4px dotted var(--border-color, transparent);
}

.navbar__ul {
    font-family: Rowdies, sans-serif;
    font-size: 1.1rem;

    display: flex;
    flex-direction: row;
    gap: 2.0rem;

    margin: 0 auto 0 auto;
    list-style: none;
    justify-content: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar__div {
    position: relative;
}

.navbar__link {
    color: #e0e0e0;
}

.navbar__slider {
    height: 0.25rem /* 4px */;
    background-color: #00ADB5;
    border-radius: 1rem;

    position: absolute;
    left: 0;
    bottom: -0.25rem /* -4px */;
    width: 100%;
}


/* Utility classes */

/* 3xs */
/* @media (min-width: 375px) {} */

/* 2xs */
/* @media (min-width: 425px) {} */

/* xs */
@media (min-width: 475px) {
    .navbar__ul {
        font-size: 1.25rem;
    }

    .navbar::after {
        width: 26rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .navbar__ul {
        font-size: 1.5rem;
        gap: 4rem;
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1440px) {
    .navbar__ul {
        gap: 8rem;
    }

    .navbar::after {
        width: 34rem;
    }
}

/* 3xl */
/* @media (min-width: 1536px) {} */

/* 4xl */
/* @media (min-width: 1728px) {} */

/* 5xl */
@media (min-width: 1920px) {
    .navbar__ul {
        font-size: 2rem;
        gap: 12rem;
    }

    .navbar::after {
        width: 50rem;
    }
}

/* 6xl */
/* @media (min-width: 2500px) {} */

