.projectscardcontainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: #e0e0e0;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #800000;
  }
  
  .projectscardcontent {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: "Merriweather", serif;
  }


  .flap {
    width: 100%;
    height: 100%;
  }
  
  .flap::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/75/NTNU-logo.svg")
    #1a1a1d;
    background-position: 100px;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .flap::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    right: 0;
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/75/NTNU-logo.svg")
    #1a1a1d;
    background-position: -200px;
    background-repeat: no-repeat;
    transition: 1s;
  }